.mentor-card-div {
  position: fixed;
  top: 20%;
  left: 31%;
  display: flex;
  column-gap: 30px;
  background: rgb(255, 198, 237);
  background: radial-gradient(
    circle,
    rgba(255, 198, 237, 1) 34%,
    rgb(255, 180, 254) 100%
  );
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 400px;
  padding: 50px 80px;
  border-radius: 25px;
  box-shadow: 0px 0px 25px #ffb4fd85;
}

.mentor-card-div p {
  font-size: 1.3rem;
}

.mentor-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}
